*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

body{
    border: solid 5px white;

}

header{
border: solid 5px blue;
height: 70px;
}

nav{
    border: solid 5px orange;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

picture, ul{
    border: solid 5px green;
}

picture{
width: 25%;
height: 100%;
}

ul{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

li{
    border: solid 3px red;
    width: 25%;
    height: 70%;
    list-style-type: none;
}
/* Part del main */
main{
    border: solid 5px ;
}
section{
    border: solid 5px blue;
    height: 350px;
    display: flex;
}
section > div{
    border: solid 5px green;
    height: 100%;
    width: 50%;
}

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30%;
    padding: 10%;
}



.box1 > div{
    border: solid 5px red;
    height: 35%;
    width: 30%;

}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    border: solid 5px red;
    height: 30%;
    width: 30%;
}
/*3er div */
.box_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.box_1 > div{
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.box_1 > #box2{
    padding-right: 80%;
}





/*4to div */
.box_2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.box_2 > div{
    width: 30%;
    height: 40%;
}

/*footer */
footer{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer >div{
    height: 70%;
}